.navbar-container {
  background: #444;
  overflow: hidden;
  text-align: center;
}
.navbar {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.navbar li {
  text-decoration: none;
  margin-right: 1rem;
}
.link {
  text-decoration: none;
  padding: 1rem;
  color: #fff;
}
.link:hover{
    background: #555;
    color:coral;
}
