.App header {
  background: #333 url('../src/assets/images/bg-header.jpg') no-repeat center center/cover;
  height: 60vh;
  color: #fff;
  
}
.App header .header-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: relative;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}